/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 425px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Icon of cards */
.fas{
    color: #007bff;
    padding-right: 5px;
}

/* Icon of card button */
.fa-car{
    color:white;
}

/* Main Header BG */
.full-width{
    height: 100%;
    background-image: url("http://minimums.com/wp-content/uploads/2017/04/DSC07339.jpeg");
    background-position: center center;
}

/* Vertical align of main form */
.vertical-center {
    min-height: 100%;  
  
    display: flex;
    align-items: center;
  }

  .row{
    margin:0px;
  }

  .small-header{
      height: 100px;
      background-color: rgb(51, 51, 51);
  }

  .header-logo{
      margin-top:10px;
      width:150px;
  }

  .subheader{
    background-color: rgb(73, 73, 73);
  }

  .subheader-text{
    color: rgb(182, 182, 182);
  }
  